FREE_GEMINI_API_KEY = "yOUR_GEMINI_API_KEY_HERE" 
GCP_PROJECT_ID = "XXXXXXXXXXXXXXXXXXXXXXXXX"

[gcp_service_account]
type = "service_account"
project_id = "XXXXXXXXXXXXXXXXXXXXXXXXXXX"
......(KEEP REST OF THE DETAILS FROM THE .json file)
